<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="clienti" routerLinkActive="active">Clienti List</a>
        </li>
        <li>
            <a class="nav-link" routerLink="create-cliente" routerLinkActive="active">Create Cliente</a>
        </li>
        <li>
            <a class="nav-link" routerLink="creaPrenotazione-view" routerLinkActive="active">Crea Prenotazione</a>
        </li>
    </ul>
</nav>
<h2 class="text-center">{{title}}</h2>
<div center class="container">
<router-outlet></router-outlet>
</div>
<footer>
    <div>
        <span>Lol lol lol lol lol lol lol</span>
    </div>  
</footer>